.top {
    height: 50px;
    width: 100%;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
}

/* Splitting top into 12 parts(like in bootstrap), out of which topLeft and topRight given 3 parts each and topCenter given 6 parts */
.topLeft, .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 6;
}

.topTitle {
    margin-right: 2vw;
    font-size: 32px;
    color: rgb(13, 156, 156);
    font-weight: 700;   
}
.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topList {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.topListItem {
    margin-right: 36px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    color: #444;
    transition: color 0.2s;
}

.topListItem:hover {
    color: rgb(68,68,68, 0.5);
}

.topSearchIcon {
    font-size: 18px;
    color: #666;
    margin-left: 15px;
    cursor: pointer;
}