.register {
    height: calc(100vh - 50px); /* 50px is of topbar height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(124, 123, 123, 0.5)
     ), url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
    margin-top: 20px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton {
    margin-top: 20px;
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.registerLoginButton {
    position: absolute;
    top: 60px; /* i.e., position 60px from the top of window */
    right: 20px;
    padding: 10px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}